<% content_for :left_column do %>
	<h3>Recent Comments</h3>
	<% @user.recent_comments(5).each do |comment| %>
		<%= render :partial => "bid_item_comments/comment_profile_large", :locals => {:comment => comment, :show_comment_item => true} %>
	<% end %>
<% end %>
<h1>Manage: <%= @user.email %> </h1>
<% form_tag(admin_edit_user_commit_path, :method => :post) do %>
  	<%= select_tag "roles", options_for_select(Role.all.collect { |r| r.title }, @user.roles.collect { |r| r.title }), :multiple => true %><br />
	<%= hidden_field_tag "user_id", @user.id %>
	<%= submit_tag "Change Roles" %>
<% end -%>

<% if @user.recent_auctions.size == 0 %>
	<h3>This user has not posted any items for auction</h3>
<% else %>
  <h3>Recent auctions by this user</h3>
  <% @user.recent_auctions.each_with_index do |bid_item, index| %>
	<%= render :partial => "bid_items/bid_item_profile_large", :locals => { :bid_item => bid_item, :index => index } %>
  <% end %>		
<% end %>

<% content_for :right_column do %>
	<h3>Recent Bids</h3>
	<% @user.recent_bids(10).each do |bid| %>
		<%= render :partial => "bids/bid_item_profile", :locals => {:bid => bid, :show_bid_item => true} %>
	<% end %>
<% end %>
