<h1>Editing bid_item</h1>

<% form_for(@bid_item) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.label :body %><br />
    <%= f.text_area :body %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

 <% form_tag(:controller => :tags, :action => :create, :method => :post) do |f| %>
  <p>
    <%= text_field_tag  "title" %>
  </p>
    <%= hidden_field_tag("bid_item_id", @bid_item.id)  %>
  <p>
    <%= submit_tag 'Add Tag' %>
  </p>
 <% end %>

<%= link_to 'Show', @bid_item %> |
<%= link_to 'Back', bid_items_path %>