<% content_for :left_column do %>
	<h1>Recent Bids</h1>
	<% if !Bid.most_recent.blank? %>
		<% Bid.most_recent.each do |bid| %>
			<%= render :partial => "bids/bid_item_profile", :locals => {:bid => bid, :show_bid_item => true} %>
		<% end %>
	<% end %>
<% end %>

<h1>All Bid Items</h1>

<% @bid_items.each_with_index do |bid_item, index| %>
    <%= render :partial => "bid_item_profile_large", :locals => { :bid_item => bid_item, :index => index } %>
<% end %>

<% if can? :create, BidItem %>
	<%= link_to 'Add new bid item', new_bid_item_path %>
<% else %>
	<h3>Only sellers can create bid items</h3>
	<% if current_user %>
		<%= form_tag(:action => "become_seller", :controller => "admin", :method => :post) do |f| %>
			<%= submit_tag "Become a seller" %>
		<% end %>
	<% end %>
<% end %>

<% content_for :right_column do %>
	<h1>Hot items</h1>
	<% if !Bid.most_recent.blank? %>
		<% for item in Bid.most_recent %>
			<% if !item.bid_item.nil? %>
		  		<%= render :partial => "bid_item_profile_small", :locals => {:item => item.bid_item, :position => cycle('left', 'right')} %>  
			<% end %>
		<% end %>
	<% end %>
<% end %>