<h1>Listing bid_items</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Body</th>
  </tr>

<% @bid_items.each do |bid_item| %>
  <tr>
    <td><%=h bid_item.title %></td>
    <td><%=h bid_item.body %></td>
    <td><%=image_tag bid_item.picture.url%></td>


    <td><%= link_to 'Show', bid_item %></td>
    <td><%= link_to 'Edit', edit_bid_item_path(bid_item) if can? :update, bid_item %></td>
    <td><%= (link_to 'Destroy', bid_item, :confirm => 'Are you sure?', :method => :delete) if can? :destroy, bid_item %></td>
  </tr>
<% end %>
</table>

<br />

<% if can? :create, BidItem %>
	<%= link_to 'Add new bid item', new_bid_item_path %>
<% else %>
	<h3>Only sellers can create bid items</h3>
	<% if current_user %>
		<% form_tag(:action => "become_seller", :controller => "admin", :method => :post) do |f| %>
			<%= submit_tag "Become a seller" %>
		<% end %>
	<% end %>
<% end %>
