<p>
  <b>Title:</b>
  <%=h @bid_item.title %>
</p>

<p>
  <b>Body:</b>
  <%=h @bid_item.body %>
</p>

<p>
  <% if can? :update, @bid_item %>
    <%= link_to 'Edit', edit_bid_item_path(@bid_item) %> |
  <% end %>
  <% if can? :destroy, @bid_item %>
    <%= link_to "Destroy", @bid_item, :method => :delete, :confirm => "Are you sure?" %> |
  <% end %>  
  <%= link_to 'Back', bid_items_path %>
</p>