<% content_for :left_column do %>
	<div id="bid_section">
		<p>Bidding Started at <span class="currency">$<%=h @bid_item.starting_price %></span></p>
		
		<% if @bid_item.is_open? %>
			<h4>Hurry, this bid will end <%= distance_of_time_in_words(Time.now, @bid_item.end_time) %> from now.</h4>
			<% if can?(:create, Bid) %>
				<% form_for(@bid_item.bids.build) do |f| %>
					<p>
					  <%= f.text_field(:bid_amount, :value => @bid_item.minimum_bidding_price) %>
					</p>
					<%= hidden_field_tag :bid_item_id, @bid_item.id %>
					<p>
					  <%= f.submit('Bid Now') %>
					</p>
				<% end %>
			<% else %>
				<p>Sign up to start bidding.</p>
			<% end %>
	    <% else %>
			<h3>Sorry, bidding for this item ended <%= time_ago_in_words(@bid_item.end_time) %> ago.</h3>
		<% end %>

      <% if @bid_item.is_open? != true %>
      <% if current_user && @bid_item.highest_bid.nil? == false && (current_user.id == @bid_item.user.id ||current_user.id == @bid_iem.highest_bid.user.id) %>
          <h3> Rate the bid </h3>
                <% form_tag(:controller => :rating, :action => :thumbsup, :method => :post) do  %>
                        <p>
                          <% if current_user.id == @bid_item.user.id %>
                                <%= hidden_field_tag("user_id", @bid_item.highest_bid.user.id)  %>
                          <% else %>
                                <%= hidden_field_tag("user_id", @bid_item.user.id)  %>
                          <% end %>
                           <%= hidden_field_tag("bid_item_id", @bid_item.id)  %>
				<%= submit_tag "Like" %>
                        </p>
		<% end %>
                <% form_tag(:controller => :rating, :action => :thumbsdown, :method => :post) do  %>
                        <p>
                          <% if current_user.id == @bid_item.user.id %>
                                <%= hidden_field_tag("user_id", @bid_item.highest_bid.user.id)  %>
                          <% else %>
                                <%= hidden_field_tag("user_id", @bid_item.user.id)  %>
                          <% end %>
                           <%= hidden_field_tag("bid_item_id", @bid_item.id)  %>
                            <%= submit_tag "Dislike" %>
                        </p>
		<% end %>
      <% end %>
      <% end %>
		
		<% if @bid_item.bids.count != 0 %>
		  	<h3>Bidding History</h3>
			<% @bid_item.latest_bids.each do |bid| %>
				<div class="bid_history_profile <%= cycle('left', 'right') %>">
					<%= image_tag("#{gravatar(bid.user)}?s=40") %>
					<span class="currency">$<%=h bid.bid_amount %></span><br /> by <i><%=h bid.user.email if !bid.user.nil? %></i>
				</div>
			<% end %>
		<% else %>
			<p>No one has bid on this item. Start now!</p>
		<% end %>
	</div>
<% end %>

<h2><%=h @bid_item.title %></h2>
<div class="bid_item_profile_big">
	<%=image_tag @bid_item.picture.url(:medium), :style => "float: right; width: 250px;" %><br/>
	<%=h @bid_item.body %>	
</div>
<div id="links">
	<% if can? :update, @bid_item %>
		<%= link_to 'Edit', edit_bid_item_path(@bid_item) %> |
	<% end %>
	<% if can? :destroy, @bid_item %>
		<%= link_to "Delete", @bid_item, :method => :delete, :confirm => "Are you sure?" %> |
	<% end %>
	<%= link_to 'Back', bid_items_path %>	
</div>

<hr />
<% if @bid_item.tags.count != 0 %>
	<b>Tags: </b>
	<% for tag in @bid_item.tags do %>
		<%=h tag.title %> | 
	<% end %>
<% else %>
	<p>This listing has no tags...</p>
<% end %>

<hr />
<h3>Comments</h3>
  <% for comment in @bid_item.bid_item_comments do %>
	  <div class="comments_profile">
		  <%= image_tag("#{gravatar(comment.user)}?s=30") %>
		  <b><%= comment.user.email %> wrote</b><br/>
		  <br />
		  <%=h comment.body %><br />
		  <br />
		  <div class="links">
			  <% if can? :destroy, comment %>
			    <%= link_to "Delete", comment, :method => :delete, :confirm => "Are you sure?" %> |
			  <% end %>	  	
		  </div>
	  </div>
  <% end %>

<% if can? :create, BidItemComment %>
	<% form_for(BidItemComment.new) do |f| %>
	    <%= f.label :body %><br />
	    <%= f.text_area :body %>
		<%= f.hidden_field(:bid_item_id, :value => @bid_item.id)  %>
	    <%= f.submit 'Add a new comment' %>
	<% end %>
<% else %>
	<p>You cannot add comments. Try logging in.</p>
<% end %>



<% content_for :right_column do %>
	<h3>Other items by this seller</h3>
	<!-- Only for demo -->
	<% @bid_item.user.bid_items.each_with_index do |item, index| %>
		<div class="bid_item_profile_small <%= (index%2 == 1) ? 'left' : 'right' %>">
			<%= link_to(image_tag(item.picture.url(:thumb)), item) %>
			<h3><%= item.title %></h3>
		</div>
	<% end %>
<% end %>