<!DOCTYPE HTML>
<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<title>OASPrey</title>
	<meta name="author" content="CookieOverflow">
	<%= stylesheet_link_tag "main" %>
	<%= stylesheet_link_tag "scaffold" %>
</head>
<body>
<div id="top_bar">
	<div id="top_bar_contents">
		<div id="logo">
			<%= image_tag "logo.png", :height => 32 %>
		</div>
		<div id="search_bar">
			<input type="text" value placeholder="Search" results="0">
		</div>
		<div id="link_bar">
			<%= render :partial => "layouts/nav_bar" %>
		</div>
		<div id="login_bar">
			<%= render :partial => "layouts/login_status" %>
		</div>
	</div>
</div>
<div id="content">
	<div id="left_content" class="section">
		<%= yield :left_column %>
	</div>
	<div id="right_content" class="section">
		<%= yield :right_column %>
	</div>
	<div id="main_content" class="section">
		<p style="color: green"><%= notice %></p>
		<%= yield %>
	</div>

</div>
</body>
</html>
