<!DOCTYPE html> 
<html> 
	<head> 
	<title>Osprey | <%= controller.controller_name.humanize %> | <%= controller.action_name.humanize %></title>
	<link rel="stylesheet" href="http://code.jquery.com/mobile/1.0a2/jquery.mobile-1.0a2.min.css" />
	<script src="http://code.jquery.com/jquery-1.4.3.min.js"></script>
	<script src="http://code.jquery.com/mobile/1.0a2/jquery.mobile-1.0a2.min.js"></script>
	<%= javascript_include_tag "application" %>
</head> 
<body> 

<div data-role="page" data-theme="b">

	<div data-role="header">
		<div data-role="navbar">
				<ul>
					<li><%= link_to("Home", root_path) %></li>
					<% if current_user %>
					<li><%= link_to("Logged in as #{current_user.email}", edit_user_registration_path) %></li>
					<li><%= link_to("Logout", destroy_user_session_path) %></li>
					<% else %>
					<li><%= link_to("Register", new_user_registration_path) %></li>
					<li><%= link_to("Login", new_user_session_path) %></li>					
					<% end %>
				</ul>
			</div><!-- /navbar -->
	</div><!-- /header -->

	<div data-role="content">	
		<%= yield %>
	</div><!-- /content -->
	<div data-role="footer">
		<h4><%= link_to "To go to the full site, click this button and reload the page", root_url(:mobile => 0)%></h4>
	</div><!-- /header -->
</div><!-- /page -->

</body>
</html>