<!DOCTYPE HTML>
<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<title>OASPrey</title>
	<meta name="author" content="CookieOverflow">
	<%= stylesheet_link_tag "main" %>
	<%= stylesheet_link_tag "scaffold" %>
	<%= stylesheet_link_tag "autoSuggest" %>
	<%= javascript_include_tag "jquery", "application", "autosuggest" %>
</head>
<body>
<div id="top_bar">
	<div id="top_bar_contents">
		<div id="logo">
			<%= link_to image_tag("logo.png", :height => 32), root_url %>
		</div>
		<div id="search_bar">
		<script type="text/javascript" charset="utf-8">
			$(document).ready(function(){
					$("#bid_item_search").autoSuggest("<%= search_bid_items_path %>", {
					minChars: 2,
					selectedItemProp: "name",
					searchObjProps: "name",
					startText: "Search Items...",
					formatList: function(data, elem){
						var element = elem.html("<div><img src=" + data.image + "\" width=\"80px\" style=\"float:left;\">&nbsp;&nbsp;" + data.name + "</div>");
						return element;
					},
					resultClick: function(data){
						window.location = "<%= bid_items_path %>" + "/" + data.attributes.value
					}
				});
			});
		</script>
			<input id="bid_item_search" type="text">
		</div>
		<div id="link_bar">
			<%= render :partial => "layouts/nav_bar" %>
		</div>
		<div id="login_bar">
			<%= render :partial => "layouts/login_status" %>
		</div>
	</div>
</div>
<div id="content">
	<div id="left_content" class="section">
		<%= yield :left_column %>
	</div>
	<div id="right_content" class="section">
		<%= yield :right_column %>
	</div>
	<div id="main_content" class="section">
		<p style="color: green"><%= notice %></p>
		<%= yield %>
	</div>

</div>
</body>
</html>
